@use '../../../styles/variables' as *;

.panel {
  padding: 24px;
  background: white;
  box-shadow: 0px 0px 20px rgba(16.52, 80.38, 178.62, 0.15);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    color: #696f79;
    font-size: 14px;
    font-family: $font-family-primary;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 48px;

    // При ширине 1140px и меньше - риски в одну колонку
    @media (max-width: 1140px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }
}

.risk {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    color: var(--color-text-primary);
    font-size: 18px;
    font-family: $font-family-primary;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__chart {
    width: 88px;
    height: 88px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__percentage {
    color: var(--color-text-primary);
    font-size: 18px;
    font-family: $font-family-primary;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }

  &__description {
    flex: 1;
    color: #696f79;
    font-size: 14px;
    font-family: $font-family-primary;
    font-weight: 500;
    margin: 0;
    line-height: 1.4;
  }
}
